<!DOCTYPE html>
<html lang="pt-br" ng-app="eagleStore" ng-controller="eagleStoreCtrl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Eagle Store</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/estilo.css" />


    <script src="node_modules/angular/angular.min.js"></script>
    <script src="js/escript.js"></script>
    <script src="js/escript-1.js"></script>
    
</head>
<body> 
      
    <header>
        <hgroup>
            <img src="img/eagle.png" alt="">
            <h1>Eagle Store</h1>
            <h2>Seja bem-vindo!</h2>
        </hgroup>
    </header>
    <nav>
        <ul>
            <li> <a href="#inicio"><i class="fas fa-home"></i> Início</a> </li>
            <li> <a href="#destaques"><i class="fas fa-star"></i> Destaques</a> </li>
            <li> <a href="#loja"><i class="fas fa-store"></i> Loja</a> </li>
            <li> <a href="#cadastro"><i class="fas fa-user-tie"></i> Cadastro</a> </li>
            <li> <a href="#desenvolvimento"><i class="far fa-file-code"></i> Desenvolvedores</a> </li>
            <li> <a href="#sobre"><i class="far fa-address-card"></i> Sobre</a> </li>
        </ul>
    </nav>

    <main>
        <section id="inicio">
            <h3>
                Seja bem-vindo!
            </h3>
            <p> Olá,essa é a Eagle Store.</p>
            <p> Aqui você poderá baixar seus aplicativos para Linux de uma maneira fácil e pratica.</p>
            <p> Navegue pelas abas e descubra seus aplicativos favoritos. </p>
        </section>

        <section id="destaques">
            <h3> Aplicativos em destaque </h3>
            <p> Veja quais são os aplicativos em destaque:</p>
            
            <section class="linha" >
                <article class="coluna" ng-repeat="pacote in pacotes_snaps | filter: {categoria: 'destaques'} | orderBy: 'nome'">
                    <div class="titulo">
                            <h3 ng-bind="pacote.nome"></h3>
                    </div>
                    <div class="imagem">   
                            <a href="{{'#'+remover(pacote.nome)}}"> 
                                <img src="{{pacote.icon[0]}}" alt="{{pacote.nome}}" />
                            </a>
                    </div>
                    <div class="rodape">
                        <p ng-bind="pacote.descricao[0]"></p>
                        <p>Tag's: 
                            <span ng-repeat="categoria in pacote.categoria">
                                <span class="tag" ng-bind="categoria"></span>
                            </span>
                        </p>
                    </div>
                </article>               
            </section>

        </section>

        <section id="loja">
            <h3>Loja de Aplicativos</h3>
            
            <input type="search" name="pesquisar" id="pesquisar" ng-model="pesquisar" placeholder="Digite seu aplicativo aqui" />
            <input type="submit" value="Pesquisar" />

            
            <ul>
                <li>
                    <input type="radio" disabled="false"  ng-checked="opcTag[0]"   /> 
                    <a href="" ng-click="pesquisarPor('', 0)"  class="tag-pesquisa">Todos</a>
                </li>
                <li>
                    <input type="radio" disabled="false"  ng-checked="opcTag[1]"  />
                    <a href="" ng-click="pesquisarPor('Desenvolvimento', 1)" class="tag-pesquisa"> Desenvolvimento </a>
                </li>
                <li>
                    <input type="radio" disabled="false"  ng-checked="opcTag[2]"    />
                    <a href="" ng-click="pesquisarPor('Entretenimento', 2)" class="tag-pesquisa"> Entretenimento </a>
                </li>
                <li>
                    <input type="radio" disabled="false"  ng-checked="opcTag[3]"    />
                    <a href="" ng-click="pesquisarPor('Personalização', 3)"  class="tag-pesquisa"> Personalização </a>
                </li>
                <li>
                    <input type="radio" disabled="false"  ng-checked="opcTag[4]"    />
                    <a href="" ng-click="pesquisarPor('Utilidades', 4)"  class="tag-pesquisa"> Utilidades </a>
                </li>
                <li>
                    <input type="radio" disabled="false"  ng-checked="opcTag[5]"   />
                    <a href="" ng-click="pesquisarPor('Educação', 5)"  class="tag-pesquisa"> Educação </a>
                </li>
                <li>
                    <input type="radio" disabled="false"  ng-checked="opcTag[6]"    />
                    <a href="" ng-click="pesquisarPor('Arte e Design', 6)"  class="tag-pesquisa"> Arte e Design </a>
                </li>
                <li>
                    <input type="radio" disabled="false"  ng-checked="opcTag[7]"    />
                    <a href="" ng-click="pesquisarPor('Música e Áudio', 7)"  class="tag-pesquisa"> Música e Áudio </a>
                </li>
                <li>
                    <input type="radio" disabled="false"   ng-checked="opcTag[8]"   />
                    <a href="" ng-click="pesquisarPor('Produtividade', 8)"  class="tag-pesquisa"> Produtividade </a>
                </li>
                <li>
                    <input type="radio" disabled="false"  ng-checked="opcTag[9]"    />
                    <a href="" ng-click="pesquisarPor('Social', 9)"  class="tag-pesquisa"> Social </a>
                </li>
                <li>
                    <input type="radio" disabled="false"  ng-checked="opcTag[10]"   />
                    <a href="" ng-click="pesquisarPor('Jogos', 10)"  class="tag-pesquisa"> Jogos </a>
                </li>
                <li>
                    <input type="radio" disabled="false"   ng-checked="opcTag[11]"  />
                    <a href="" ng-click="pesquisarPor('Foto e vídeo', 11)"  class="tag-pesquisa"> Foto e vídeo</a>
                </li>
            </ul>
            
            <section class="linha-pacote" ng-repeat="pacote in pacotes_snaps | orderBy: 'nome' | filter: pesquisar | filter: {categoria: categoriaPesquisada}">
                    <article class="coluna-pacote"  id="{{remover(pacote.nome)}}">
                        <div class="titulo-pacote">
                            <img src="{{pacote.icon[0]}}" alt="{{pacote.nome}}" class="icon-min" />
                            <h3 ng-bind="pacote.nome"></h3>
                        </div>

                        <div class="carrosel-pacote">
                                
                            
                            <div ng-repeat="icone in pacote.icon">
                                <img ng-if="icone != pacote.icon[0]" src="{{icone}}" alt="{{pacote.nome}}" />
                            </div>  
                        </div>
                        
                        

                        <div class="rodape-pacote">
                            <p ng-bind="pacote.descricao[1]"></p>
                            <p>Tag's: 
                                <span ng-repeat="categoria in pacote.categoria">
                                    <span class="tag" ng-bind="categoria"></span>
                                </span>
                            </p>
                        </div>
                    </article>               
                </section>

        </section>

        <section id="tab-sobre">
                <h3>Sobre</h3>
                <p>Este site foi criado por:</p>
                <ul>
                    <li>
                        Gustavo Leão Nogueira de Oliveira
                        <ul>
                            <li><a href="https://www.facebook.com/gustavo.leao.716">Facebook</a></li>
                            <li><a href="https://www.linkedin.com/in/gustavo-le%C3%A3o-nogueira-de-oliveira-576199b5/">Linkedin</a></li>
                            <li><a href="mailto:gustavo.leao.nogueira.2017@gmail.com">Email</a></li>
                            <li><a href="https://wa.me/55051985309446">WhatsApp</a></li>
                            <li><a href="https://github.com/GustavoLeao2018">GitHub</a></li>
                        </ul>
                    </li>
                    <li>
                        Nícolas Machado Flôres
                        <ul>
                            <li><a href="https://www.facebook.com/nicolas.flores.75">Facebook</a></li>
                        </ul> 
                    </li>
        
                </ul>
                <p>As ferramentas utilizadas na criação deste site foram: </p>
                <ul>
                    <li><a href="https://angularjs.org/">Angular.js</a></li>
                    <li><a href="https://nodejs.org/en/">Node.js</a></li>
                    <li><a href="https://gulpjs.com/">Gulp.js</a></li>
                    <li><a href="https://jquery.com/">Jquery</a></li>
                    <li><a href="https://www.w3schools.com/css/">CSS3</a></li>
                    <li><a href="https://www.w3schools.com/html/default.asp">HTML5</a></li>
                    <li><a href="https://www.w3schools.com/js/default.asp">JavaScript</a></li>
                    <li><a href="https://www.json.org/">JSON</a></li>
                    <li><a href="https://sass-lang.com/">Sass</a></li>
                    <li><a href="https://www.shellscript.sh/"> Shell Script</a></li>
                </ul>
        </section>
    </main>

    <footer>
        <p> Copyright &copy; Gustavo Leão e Nicolas Machado - Eagle Linux</p>
    </footer>

   
</body>

</html>